@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@700&display=swap");

* {
  /* background-color: #1f1f1f; */
  background-color: #000000;
  color: #ffffff;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.bg-color {
  /* background-color: #1f1f1f !important; */
  background-color: #000000 !important;
}
.name-heading {
  font-family: "Alkatra", cursive;
}
/* .chat-btn-custom {
  background-color: #f06d55;
  text-decoration: none;
  font-weight: 500;
  font-size: larger;
  border-radius: 5px;
  color: white;
  padding: 7px 15px;
} */
/* .chat-btn-custom :hover {
  cursor: pointer;
} */

.whatsapp-image {
  width: 25%;
}

.Email-font {
  font-size: 1.4rem;
}
.Email-font div a {
  background-color: #f06d55 !important;
  padding: 5px 10px;
  border-radius: 5px;
}
